@model PricingsVM
@{
    ViewData["Title"] = "Index";
}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Pricing</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="row">

            @foreach (Pricings pricings in Model.Pricings)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="box @(pricings.IsFeatured ?"featured" :"")">
                        <span class="@(pricings.IsAdvanced? "advanced":"")">@(pricings.IsAdvanced? "Advanced":null)</span>
                        <h3 class="">@pricings.Name</h3>
                        <h4><sup>$</sup>@pricings.Price<span> / month</span></h4>
                        <ul>
                            @foreach (Features features in Model.Features)
                            {
                    <li class="@(features.JoinPricingFeatures.Any(x=>x.PricingsId==pricings.Id)?null:"na text-decoration-line-through")">@features.Feature</li>}
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section><!-- End Pricing Section -->